---
layout: default
---

<article>
  <hgroup>
    <h1 style="margin-bottom: .1rem">
      <%= resource.data.title %>
    </h1>
    <p class="lowlighted subtitle">
      <%= resource.data.subtitle %>
    </p>
  </hgroup>
  <div>
    <small class="lowlighted">
      <%= resource.date.strftime("%B %d, %Y") %> · <%= resource.data.author %> |
      <a href="https://github.com/davidrunger/blog/edit/main/src/<%= resource.relative_path %>">
        Edit this article on GitHub
      </a>
    </small>
  </div>

  <%= yield %>
</article>

<div id="comments"></div>
