---
layout: default
---

<article>
  <h1 style="margin-bottom: .1rem">
    <%= resource.data.title %>
  </h1>
  <h3 class="lowlighted subtitle">
    <%= resource.data.subtitle %>
  </h3>
  <div>
    <small class="lowlighted">
      <%= resource.date.strftime("%B %d, %Y") %> · <%= resource.data.author %> |
      <a href="https://github.com/davidrunger/blog/edit/main/src/<%= resource.relative_path %>">
        Edit this article on GitHub
      </a>
    </small>
  </div>

  <%= yield %>
</article>
