---
layout: default
---

<article>
  <hgroup>
    <h1 style="margin-bottom: .1rem">
      <%= resource.data.title %>
    </h1>
    <p class="lowlighted subtitle">
      <%= resource.data.subtitle %>
    </p>
  </hgroup>
  <div class="text-base">
    <div class="lowlighted">
      <%= resource.date.strftime("%B %d, %Y") %>
      <span class="mx-1">·</span>
      <%= resource.data.author %>
    </div>
  </div>

  <%= yield %>

  <div class="mt-2 text-center text-sm">
    <span class="text-neutral-700 dark:text-neutral-400">This blog is open source.</span>
    <a href="https://github.com/davidrunger/blog/edit/main/src/<%= resource.relative_path %>">
      Improve this post.
    </a>
  </div>
</article>

<div id="comments"></div>
