<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
<style>html { visibility: hidden; opacity:0; }</style>
<% if resource.data.skip_seo_title %>
  <title>David Runger : Blog</title>
  <%= seo(title: false).gsub('blog/blog', 'blog') %>
<% else %>
  <%= seo.gsub('blog/blog', 'blog').html_safe %>
<% end %>
<%= feed_meta %>
<link rel="icon" type="image/png" sizes="32x32" href="<%= site.base_path %>/images/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="<%= site.base_path %>/images/favicon/favicon-16x16.png">
<link rel="stylesheet" href="<%= webpack_path :css %>" data-turbo-track="reload" />
<% unless ENV.fetch('BRIDGETOWN_ENV', nil) == 'production' %>
  <%= live_reload_dev_js %>
<% end %>
